*.exe
*.dcu
__history/*.*
__recovery/*.*
Win32/*.*
Win64/*.*
__history/libc.pas.~1~
__history/libc.pas.~2~
__history/libc.pas.~3~
__history/libgcc.pas.~11~
__history/libgcc.pas.~12~
__history/libgcc.pas.~13~
__history/libgcc.pas.~14~
__history/libgcc.pas.~15~
__history/libgcc.pas.~16~
__history/libgcc.pas.~17~
__history/libgcc.pas.~18~
__history/libgcc.pas.~19~
__history/libgcc.pas.~20~
__history/libmsvcrt.pas.~1~
__history/libmsvcrt.pas.~2~
__history/libmsvcrt.pas.~3~
__history/libmsvcrt.pas.~4~
__history/libmsvcrt.pas.~5~
__history/libmsvcrt.pas.~6~
__history/libmsvcrt.pas.~7~
__history/libmsvcrt.pas.~8~
__history/libmsvcrt.pas.~9~
__history/libucrt.pas.~10~
__history/libucrt.pas.~11~
__history/libucrt.pas.~12~
__history/libucrt.pas.~13~
__history/libucrt.pas.~14~
__history/libucrt.pas.~15~
__history/libucrt.pas.~6~
__history/libucrt.pas.~7~
__history/libucrt.pas.~8~
__history/libucrt.pas.~9~
__history/pkglibc.dpk.~1~
__history/pkglibc.dpk.~2~
__history/pkglibc.dpk.~3~
__history/testlibgcc.pas.~1~
__history/testlibmsvcrt.pas.~1~
__history/testlibmsvcrt.pas.~2~
__history/testlibmsvcrt.pas.~3~
__history/testlibmsvcrt.pas.~4~
__history/testlibmsvcrt.pas.~5~
__history/testlibucrt.pas.~1~
__history/testlibucrt.pas.~2~
__history/testucrt.dpr.~1~
__history/testucrt.dpr.~2~
__history/testucrt.dpr.~3~
__history/testucrt.dpr.~4~
__history/testucrt.dpr.~5~
